{erl_opts, [debug_info,{i, "./_build/default/plugins/gpb/include"}]}.
{deps, [
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
	{lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{plugins, [
  {rebar3_gpb_plugin, "1.10.0"} % Good practice to specify which version to use
]}.

{gpb_opts, [
  {i, "proto"},                % path/to/proto_dir
  {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
  %{o, "src/generated"},     % both .erl and .hrl are generated here, we will define the directories below instead.
  {o_erl, "src/proto"},              % Where the generated source is placed
  {o_hrl, "src/proto"},          % Where the generated include files are placed
  {strings_as_binaries, true},
  type_specs]}.


{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [{release, { connect2me, "0.1.0" },
         [connect2me,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
